.scatola {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    background-color: rgba(177, 173, 173, 0.1);
    border-radius: 10px;
    padding: 1%;
    margin: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* parte delle attività */
.activity {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1%;
    margin-top: 2%;
    max-width: 360px;
    text-align: center;
    transition: transform 0.4s;
}
.activity:hover {
    transform: translateY(-10px);
}
.activity img {
    width: 100%;
    height: 160px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.activity h1 {
    margin-top: 0;
    font-size: var(--size-3xl);
    color: #333;
}
.activity p {
    color: #666;
    margin-bottom: 15px;
    font-size: var(--size-lg);
}
.activity a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 10px;
}
.activity a:hover {
    background-color: #555;
}

/* parte della tabella */
table {
    width: 85%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    table-layout: fixed;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
th {
    background-color: #f2f2f2;
    color: #333;
    min-width: 50px;
}
td {
    background-color: #fff; /* Sfondo bianco per le celle */
    color: #333;
}
.time-column {
    width: 10%;
}
/* Definizione della larghezza fissa per le celle della tabella interna */
.inner-table {
    margin: 0;
    border: none;
    font-size: 16px;
}
.inner-table td {
    border: none; 
}
/* Colori di sfondo per i nomi dei corsi */
.corso-calcio-bambini { background-color: #90EE90; color: #333; }
.corso-calcio-ragazzi { background-color: #008000; color: #fff; }
.corso-tennis-bambini { background-color: #FFA500; color: #333; }
.corso-tennis-ragazzi { background-color: #FF8C00; color: #fff; }
.corso-nuoto-bambini { background-color: #ADD8E6; color: #333; }
.corso-nuoto-ragazzi { background-color: #4682B4; color: #fff; }
.corso-basket-bambini { background-color: #FF7F50; color: #333; }
.corso-basket-ragazzi { background-color: #FF4500; color: #fff; }
.corso-paddle-bambini { background-color: #FFFF00; color: #333; }
.corso-paddle-ragazzi { background-color: #FFD700; color: #fff; }

/* Stile per la legenda */
.legend {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1%;
    width: 8%;
    border-radius: 10px;
}
.legend-item {
    margin-bottom: 10px;
}
.legend-circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}
/*---------------------------------------*/

/*responsive css for attività*/
@media (max-width: 1535px)
{

}
@media (max-width: 1279px)
{

}
@media (max-width: 1023px)
{
    
}
@media (max-width: 929px)
{
 
}
@media (max-width: 767px)
{
  
}

@media (max-width: 640px)
{

}

@media (max-width: 475px) 
{
  
}