.scatola {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    background-color: rgba(177, 173, 173, 0.1);
    border-radius: 10px;
    padding: 1%;
    margin: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* part of the activities */
.activity {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1%;
    margin-top: 2%;
    max-width: 360px;
    text-align: center;
    transition: transform 0.4s;
}
.activity:hover {
    transform: translateY(-10px);
}
.activity img {
    width: 100%;
    height: 160px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.activity p {
    color: #666;
    margin-bottom: 15px;
    font-size: var(--size-lg);
}
.activity a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 10px;
}
.activity a:hover {
    background-color: #555;
}

/* part of the table */
table {
    width: 80%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    table-layout: fixed;
}
th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides text that does not fit within the width */
    text-overflow: ellipsis; /* Adds ellipses */
}
th {
    background-color: #f2f2f2;
    color: #333;
    min-width: 50px;
}
td {
    background-color: #fff; /* White background for cells */
    color: #333;
}
.time-column {
    width: 10%;
}
/* Defining fixed width for internal table cells */
.inner-table {
    margin: 0;
    border: none;
    font-size: 16px;
}
.inner-table td {
    border: none;
}
/* Background colors for course names */
.corso-calcio-bambini {
    background-color: #90ee90;
    color: #333;
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides text that does not fit within the width */
    text-overflow: ellipsis; /* Adds ellipses */
}
.corso-calcio-ragazzi {
    background-color: #008000;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.corso-calcio-amatoriale {
    background-color: #094409;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.corso-tennis-bambini {
    background-color: #ffa500;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.corso-tennis-ragazzi {
    background-color: #ff8c00;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.corso-tennis-amatoriale {
    background-color: #e26511;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.corso-nuoto-bambini {
    background-color: #add8e6;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.corso-nuoto-ragazzi {
    background-color: #4682b4;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.corso-nuoto-amatoriale {
    background-color: #2a87d3;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.corso-basket-bambini {
    background-color: #ff7f50;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.corso-basket-ragazzi {
    background-color: #ff4500;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.corso-basket-amatoriale {
    background-color: red;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.corso-paddle-bambini {
    background-color: #ffff00;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.corso-paddle-ragazzi {
    background-color: #ffd700;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.corso-paddle-amatoriale {
    background-color: #d3a50c;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Style for the legend */
.legend {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1%;
    width: 12%;
    border-radius: 10px;
    float: right; /* Place the legend on the right */
}
.legend-item {
    margin-bottom: 10px;
}
.legend-circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}
/*---------------------------------------*/

/* Media query */
@media (max-width: 950px) {
    .legend {
        width: 100%; /* It takes up the entire width of the screen */
        float: none; /* Removes the float to make the legend go below the table */
        margin-top: 20px; /* Adds a top margin to separate the legend from the table */
    }
    table {
        width: 100%;
    }
}
