/* Style for the footer */
footer {
    background-color: var(--nav-color);
    color: #000;
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.map {
    flex: 1;
    margin: 1% 2% 0 10%;
}

.contacts {
    flex: 2;
    padding: 1%;
    text-align: center;
    position: relative; /*Required for absolute positioning of the icon*/
    margin: 2%;
}

.formalita {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.cc {
    font-size: 16px;
}

.social {
    font-size: 16px;
}

.ancora {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    border: 1px solid #efefee;
    padding: 10px;
    text-align: center; /*Centers the content within the link*/
    cursor: pointer;
    z-index: 5;
}

a {
    color: #000;
    text-decoration: none; /*Remove the underline*/
}

.ancora a i {
    font-size: 20px;
}

.footer hr {
    border: none;
    height: 1px;
    background-color: #efefef;
    margin-top: 20px;
}
/*------------------------------------------*/

/*responsive css for footer*/
@media (max-width: 1535px) {
}
@media (max-width: 1279px) {
    .map {
        margin-left: 5%;
    }
}
@media (max-width: 1023px) {
    footer {
        flex-direction: column;
    }
    .map {
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .divider {
        display: block;
    }
}
@media (max-width: 929px) {
}
@media (max-width: 767px) {
}

@media (max-width: 640px) {
    .map {
        margin-left: 0;
    }
}

@media only screen and (max-width: 475px) {
    .ancora {
        display: none;
    }
}
