/* Style for the footer */
footer {
    background-color: var(--nav-color);
    color: #000;
    position: relative;
    padding: 20px; /* Aggiungi un po' di padding per uno spazio interno */
    display: flex;
    justify-content: space-between;
}

.map {
    flex: 1;
    margin: 1% 2% 0 10% ;
}

.contacts {
    flex: 2;
    padding: 1%;
    text-align: center;
    position: relative; /* Necessario per il posizionamento assoluto dell'icona */
}

.formalita {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Allinea verticalmente gli elementi */
    margin-top: 10px;
}

.cc {
    font-size: 16px;
}

.social {
    font-size: 16px;
}

.ancora {
    position: absolute;
    top: 10px; /* Distanza dal bordo superiore del footer */
    right: 10px; /* Distanza dal bordo destro del footer */
    background-color: #f0f0f0; /* Colore di sfondo per l'icona */
    border-radius: 10px;
    border: 1px solid #efefee;
    padding: 10px; /* Aggiungi padding per uno spazio interno */
    text-align: center; /* Centra il contenuto all'interno del link */
    cursor: pointer;
    z-index: 10;
}

.ancora a i {
    font-size: 20px; /* Dimensione dell'icona */
}

.footer hr {
    border: none;
    height: 1px;
    background-color: #efefef; /* same as border color */
    margin-top: 10px; /* Spazio sopra e sotto l'hr */
}
/*------------------------------------------*/

/*responsive css for footer*/
@media (max-width: 1535px)
{

}
@media (max-width: 1279px)
{

}
@media (max-width: 1023px)
{
    footer 
    {
        flex-direction: column;
    } 
    .map
    {
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 929px)
{
 
}
@media (max-width: 767px)
{
  
}

@media (max-width: 640px)
{

}

@media (max-width: 475px) 
{
  
}