/* Stile per la galleria */
.gallery {
    padding: 2%;
    display: flex;
    height: 55vh;
    width: auto;
    gap: 1%;
}

  /* Stile per le immagini */
.gallery img {
    width: 0px;
    flex-grow: 1; /* occupa tutto lo spazio che puoi */ 
    object-fit: cover;
    filter: brightness(50%);
    transition: .7s ease;
}

  /* Effetto di ingrandimento al passaggio del mouse */
.gallery img:hover {
    cursor: crosshair;
    width: 30vw;
    opacity: 1;
    filter: brightness(100%);
    filter: contrast(120%);
}