/* Style for the fixed images */
.fixed-image {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px; /* Adjust height as needed */
  }

  /* Styling for the content */
  .content {
    padding: 20px;
    height: 200px;
    background-color: rgba(255, 255, 255); /* last value for transparency */
  }

  /* Styling for other elements */
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }