/*testa della persona di login*/
.person{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(13, 13, 91);
    position: relative;
    margin: 20px;
    top:-10px;
    cursor: pointer;
    z-index: 1;
}
/*corpo della persona di login*/
.person::after{
    content: "";
    position: absolute;
    height: 20px;
    width: 40px;
    background-color: rgb(13, 13, 91);
    top: 22px;
    left: -10px;
    border-radius: 50% 50% 0% 0%;
    cursor: pointer;
    z-index: 1;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login_menu{
    background-color: white;
    position: absolute;
    list-style: none;
    left: -600%;
    top: 50px;
    z-index: 99999;
    border-radius: 6px;
    display: none;
    align-items: center;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    height: 150px;
    justify-content: center;
}

.login_menu li{
    padding: 10% 10%;
    width: 100%;
    border-bottom: 1px solid rgb(13, 13, 91);
   
}

.login_menu li:last-child{
    border-bottom: none;
}

.reg{
    padding: 1rem 2rem;
    align-items: center;
    color: rgb(13, 13, 91);
}
.show {display:block;}

/*css menù a tendina*/
/*
.login_menu{
    position: absolute;
    left: -40px;
    top: 40px;
    background-color: white;
    list-style: none;
    border: 1px solid black;
    border-bottom: none;
    visibility: hidden;
    opacity: 0;
}

.login_menu li{
    display: block;
    width: 100px;
    top: -10px;
    padding: 10px 10px;
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: 1px solid black;
    background-color: white;
}

.login_menu a{
    display: block;
    text-decoration: none;
    transition: .3s;
}

.login_menu li:hover{
    background-color: rgb(13, 13, 91);
}

.login_menu a:hover{
    color: white;
}

.person:hover .login_menu{
    transition: .5s;
    visibility: visible;
    opacity: 1;
    top: 45px;
}
*/

.popup {
    padding: 2%;
    border: none;
    background-color: rgba(7, 133, 172, 0.4);
    color: rgb(252, 252, 252); 
    box-shadow: 0 0 15px rgb(13, 13, 91, 0.4);

    justify-content: center; /*centra orizzontalmente */
    margin: auto;
    width: 50%;

    align-items: center; /* centra verticalmente */
    height: auto;
}

/* Stili per l'icona "x" */
.close {
    width: 30px;
    height: 30px;
    cursor: pointer;
    /* la volevo sposta a destra ma lo sciocca non si muove */
}

.title {
    display: inline-block;
    position: relative;
    color: rgb(252, 252, 252);
    width: 30%;
    font-size: 2rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 10%;
}

.title::after {
    content: '';
    position: absolute;
    align-self: auto;
    left: 0;
    bottom: -5px;
    width: 70%;
    height: 4px;
    background: rgb(13, 13, 91);
}

.box {
    position: relative;
    margin-bottom: 20px;
}

.labellogin {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ffffff;
    font-size: 14px;
    transition: top 0.3s, font-size 0.3s;
}

.field {
    font-size: 1rem;
    color: rgb(252, 252, 252);
    padding: 0.2rem;
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(252, 252, 252);
    background: transparent;
    width: calc(100% - 30px); /* Aggiunto */
    padding: 10px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input:focus {
    outline: none;
    border-color: rgb(0, 0, 0);
}

.field:focus + .labellogin, input:valid + .labellogin {
    top: -20px;
    font-size: 12px;
    color: black;
  }

.loginbutton {
    display: block;
    text-transform: uppercase;
    padding: 1%;
    color: rgb(252, 252, 252);
    font-size: 1.2rem;
    background: rgb(13, 13, 91);
    border: none;
    cursor: pointer;
    justify-content: center; /*centra orizzontalmente */
    margin: auto;
}

.password-toggle, .imagelogin {
    position: absolute;
    top: 30%;
    right: 4%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
}