.formlogin {
    border: none;
    color: rgb(252, 252, 252); 
    width: auto;
    height: auto;
}

/* Stili per l'icona "x" */
.close {
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    top: 1%;
    right: 1%;
}

/* Nasconde l'occhio di default: N.B. non funziona su tutti i browser */
input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none !important;
}

.title {
    padding: 2%;
    display: inline-block;
    position: relative;
    color: rgb(0, 0, 0);
    width: auto;
    font-size: 2rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 10%;
}

.box {
    position: relative;
    margin-bottom: 40px; /* distanza tra i due campi */
    margin-right: 1%;
}

.labellogin {
    position: absolute;
    top: -20px;
    left: 10px;
    color: #000000;
    font-size: 14px;
}

.field {
    font-size: 1rem;
    color: rgb(0, 0, 0);
    padding: 2%;
    width: 100%;
    background-color: rgb(252, 252, 252, 0.7);
    border-radius: 10px;
    border: none;
    width: calc(100% - 30px); /* Aggiunto */
    font-size: 16px;
}

input:focus {
    outline: none;
    color: black;
}

.field:focus + .labellogin, input:valid + .labellogin {
    color: black;
  }

.loginbutton {
    display: block;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 2%;
    color: rgb(252, 252, 252);
    font-size: 18px;
    background: rgb(13, 13, 91);
    border: none;
    cursor: pointer;
    justify-content: center; /*centra orizzontalmente */
    margin: auto;
}

.password-toggle, .imagelogin {
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
}

p {
    padding: 2%;
    color: black;
}
