nav
{
  height: 80px;
  background: var(--nav-color);
  /*flexbox code*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*larghezza variabile della navbar in base alla finestra del browser*/
  padding: 0 calc((100vw - 97vw) / 2); 
}

/*------------debug----------*/
/*
nav
{
  border: 1px solid purple;
}
ul.logo
{
  border: 1px solid rgb(0, 255, 0);
}
.logo_img
{
  border: 1px solid red;
}
.logo_name
{
  border: 1px solid red;
}
ul.toolbar
{
  border: 1px solid red;
}
ul.toolbar a
{
  border: 1px solid red;
}
li
{
  border: 1px solid orange;
}
*/
/*--------------------------------------*/
.logo
{
  display: flex;
  text-decoration: none;
  list-style: none;
  align-items: center;
  padding: 0;
}
.logo_img
{
  width: 70px;
  box-align: left;
}

.logo_name
{
  display: block;
  font: 30px /*aggiungere nome font*/ ;
}

.toolbar
{  
  display: flex;
  text-decoration: none;
  align-items: center;
  list-style: none;
  margin: 0 auto;
 	padding: 3px;
	text-align: center;
}

.toolbar a
{
  color: black;
  text-decoration: none;
  font: 10px /*aggiungere nome font*/ ;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

/*-----------Toolbar animation css code------------*/
/*inspiration from https://tympanus.net/codrops/2013/08/06/creative-link-effects/ */
ul.topBotomBordersOut a:before, 
ul.topBotomBordersOut a:after
{
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #000;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}

ul.topBotomBordersOut a:before
{
  top: 0px;
  transform: translateY(10px);
}

ul.topBotomBordersOut a:after
{
  bottom: 0px;
  transform: translateY(-10px);
}

ul.topBotomBordersOut a:hover:before, 
ul.topBotomBordersOut a:hover:after
{
  opacity: 1;
  transform: translateY(0px);
}
/*-------------------------------------------------------*/

/*Responsive navbar*/
/* xs */
@media (max-width: 500px)
{
  .toolbar_link_Home,
  .toolbar_link_Struttura
  {
    display: none;
  }
}

/* sm */
@media (max-width: 640px)
{
  .toolbar_link_Soci
  {
    display: none;
  }
}

/* md */
@media (max-width: 768px)
{
  .toolbar_link_Ristorante
  {
    display: none;
  }
} 


/* lg */
@media (max-width: 1024px) 
{
  .toolbar_link_Attivita
  {
    display: none;
  }
  
} 


/* xl */
@media (max-width: 1280px) 
{
  .toolbar_link_Eventi,
  .toolbar_link_Prenota
  {
    display: none;
  }
} 

/*testa della persona di login*/
.person{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(13, 13, 91);
  position: relative;
  margin: 20px;
  top:-10px;
  cursor: pointer;
  z-index: 1;
}
/*corpo della persona di login*/
.person::after{
  content: "";
  position: absolute;
  height: 20px;
  width: 40px;
  background-color: rgb(13, 13, 91);
  top: 22px;
  left: -10px;
  border-radius: 50% 50% 0% 0%;
  cursor: pointer;
  z-index: 1;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login_menu {
  background-color: rgb(252, 252, 252);
  position: relative;
  list-style: none;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  width: 400px;
  height: auto;
  margin-top: 200px;
  right: 70px;
}

.login_menu li{
  padding: 10% 10%;
  width: 100%;
  border-bottom: 1px solid rgb(13, 13, 91);
 
}

.login_menu li:last-child{
  border-bottom: none;
}

.reg{
  padding: 1rem 2rem;
  align-items: center;
  color: rgb(13, 13, 91);
}
.show {display:block;}