* 
{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav
{
    height: 80px;
    background: #358597;
    /*flexbox code*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*larghezza variabile della navbar in base alla finestra del browser*/
    padding: 0rem calc((100vw - 97vw) / 2); 
}

.logo_header
{
    width: 70px;
    box-align: left
}
/*abbellire nome in alto a destra*/
.logo_name 
{

}

/* sarebbero da mettere al centro della navbar alcune sezioni*/
nav a 
{
    text-decoration: none;
    color: black;
    padding: 0 0.5rem;
}

/*-----------Toolbar animation css code------------*/
/*inspiration from https://tympanus.net/codrops/2013/08/06/creative-link-effects/ */
div.toolbar
{
  font-family: Raleway;
  margin: 0 auto;
	padding: 10em 3em;
	text-align: center;
}

div.toolbar a
{
    color: black;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

div.topBotomBordersOut a:before, div.topBotomBordersOut a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #000;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersOut a:before
{
    top: 0px;
    transform: translateY(10px);
}

div.topBotomBordersOut a:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before, div.topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}

body
{
  background: #f4a896;
}
/*-------------------------------------------------------*/

/* da implementare... nascondere gli elementi: soci, prenota, eventi, ristorante, attivita, struttura
    quando la larghezza della finestra è minore di 1300 px
 Stili per la navbar quando la finestra è sufficientemente larga 
.navbar {
     Stili per la navbar quando la finestra è abbastanza grande 
  }
  
  Stili per la navbar quando la finestra è abbastanza piccola 
  @media screen and (max-width: 768px) {
    Nascondi gli elementi che vuoi far scomparire quando la finestra è piccola 
    .elemento-da-nascondere {
      display: none;
    }
  }
*/