/* parte della tabella */
.zona {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    background-color: rgba(177, 173, 173, 0.1);
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/*nasconde le checkbox in prenota*/
.hidden{
    display: none;
}

/* prenotazione attività */
.toggle-list {
    list-style-type: none;
    padding: 0;
    margin: 2%;
}

.toggle-item {
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.toggle-item > input[type="radio"] {
    display: none; /* per nascondere la scelta dell'attività (bottone) */
}

.toggle-item > label {
    cursor: pointer;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* lascia lo spazio in mezzo */
    background-color: #057d92;
    color: #fff;
}
.toggle-item input[type="radio"]:checked + label {
    background-color: rgba(13, 130, 165, 0.6);
}

.content {
    padding: 2%;
    display: none; /* nasconde il contenuto delle attività di default */ 
    transition: display 0.5s ease;
}

/* Stile per la freccia e le sue evoluzioni */
.arrow {
    width: 10px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transition: transform 0.3s ease;
}
.toggle-item input[type="radio"]:checked + label .arrow {
      transform: rotate(-135deg);
}
.toggle-item input[type="radio"]:not(:checked) + label .arrow {
    transform: rotate(-45deg); 
}
.toggle-item input[type="radio"]:checked ~ .content {
    display: block;
}

/* parte della tabella */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    table-layout: fixed;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
th {
    background-color: #f2f2f2;
    color: #333;
}
td {
    background-color: #fff; /* Sfondo bianco per le celle */
    color: #333;
    min-width: 60px; /* Imposta la larghezza massima delle celle */
}
.time-column {
    width: 10%;
}
/* Definizione della larghezza fissa per le celle della tabella interna */
.inner-table {
    margin: 0;
    border: none;
    font-size: 16px;
}
.inner-table td {
    border: none; 
}