/* TABLE */
.zona {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    background-color: rgba(177, 173, 173, 0.1);
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    table-layout: fixed;
}
th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    white-space: nowrap; /*Prevents text from wrapping*/
    overflow: hidden; /*Hides text that does not fit within the width*/
    text-overflow: ellipsis; /*Add ellipses */
}
th {
    background-color: #f2f2f2;
    color: #333;
}
td {
    background-color: #fff;
    color: #333;
    min-width: 60px;
}
.time-column {
    width: 10%;
}
/*Defining fixed width for internal table cells*/
.inner-table {
    margin: 0;
    border: none;
    font-size: 16px;
}
.inner-table td {
    border: none;
}

/* ACTIVITY BOOKING */
/*hides the checkboxes in the book*/
.hidden {
    display: none;
}
.numPersoneWrapper {
    display: none;
}

.toggle-list {
    list-style-type: none;
    padding: 0;
    margin: 2%;
}

.toggle-item {
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.toggle-item > input[type='radio'] {
    display: none; /* to hide the activity choice (button)*/
}

.toggle-item > label {
    cursor: pointer;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* lascia lo spazio in mezzo */
    background-color: #057d92;
    color: #fff;
}
.toggle-item input[type='radio']:checked + label {
    background-color: rgba(13, 130, 165, 0.6);
}

.content {
    padding: 2%;
    display: none; /* hides the contents of tasks by default */
    transition: display 0.5s ease;
}

/*Style for the arrow and its evolutions*/
.arrow {
    width: 10px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transition: transform 0.3s ease;
}
.toggle-item input[type='radio']:checked + label .arrow {
    transform: rotate(-135deg);
}
.toggle-item input[type='radio']:not(:checked) + label .arrow {
    transform: rotate(-45deg);
}
.toggle-item input[type='radio']:checked ~ .content {
    display: block;
}
