form {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2); /* Bordo semi-trasparente */
    background-color: rgba(53, 133, 151, 0.6);
    backdrop-filter: blur(10px); /* Effetto sfocatura */
    width: auto;
    height: auto;
    margin: 2%;
    padding: 2%;
}

.banner {
    margin-top: 2%;
    height: 300px;
    background-image: url('../immagini/banner_reg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section {
    border: 1px solid black;
    border-radius: 10px;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
}

.title {
    position: absolute;
    top: -20px;
    font-size: 20px;
    width: auto;
    background-color: rgba(255, 255, 255);
    border: 1px solid black;
    border-radius: 10px;
    margin: 0;
    padding: 5px;
}

label {
    margin-right: 3px;
    margin-left: 3px;
    color: #000000;
    font-size: 14px;
}

input {
    margin-top: 15px;
    font-size: 14px;
    border-radius: 10px;
    border: none;
}

button {
    cursor: pointer;
    background: transparent;
    color: rgb(0, 0, 0);
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
}

input[type="checkbox"] {
    margin-right: 3px;
}

/* Nasconde l'occhio di default: N.B. non funziona su tutti i browser */
input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none !important;
}

input:focus {
    outline: none;
    border: 1px solid black;
}

.password-toggle, .imagelogin {
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
}