/*css file for registration.php*/

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fixed-image {
    width: 100%;
    height: 100%;
    background-image: url('../immagini/galleria/banner_reg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Chillax';
    margin-top: 0;
    font-size: var(--size-3xl);
}

h3 {
    font-family: 'Synonym';
    font-size: var(--size-lg);
}

form {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2); /* Bordo semi-trasparente */
    background-color: rgba(68, 168, 190, 0.7);
    backdrop-filter: blur(10px); /* Effetto sfocatura */
    width: 60%;
    height: auto;
    margin-top: 5%;
    margin-inline: auto;
    padding: 2%;
    font-family: 'Synonym';
    backdrop-filter: blur(5);
}
.space {
    width: 100%;
}
.section {
    border: 1px solid black;
    border-radius: 10px;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
}

.title {
    position: absolute;
    top: -20px;
    font-size: var(--size-lg);
    width: auto;
    background-color: rgba(255, 255, 255);
    border: 1px solid black;
    border-radius: 10px;
    margin: 0;
    padding: 5px;
}

label {
    margin-right: 3px;
    margin-left: 3px;
    color: #000000;
    font-size: var(--size-sm);
}

input {
    margin-top: 15px;
    font-size: var(--size-sm);
    border-radius: 10px;
    border: none;
}

button {
    cursor: pointer;
    background: transparent;
    color: rgb(0, 0, 0);
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
}

input[type='checkbox'] {
    margin-right: 3px;
}

/*Hides the eye by default: N.B. does not work on all browsers*/
input[type='password']::-webkit-contacts-auto-fill-button,
input[type='password']::-webkit-credentials-auto-fill-button {
    display: none !important;
}

input:focus {
    outline: none;
    border: 1px solid black;
}

.password-toggle,
.imagelogin {
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
}
/*---------------------------------------*/

/*responsive css for index*/
@media only screen and (max-width: 1535px) {
    .space {
        height: 5px;
    }
}
@media only screen and (max-width: 1279px) {
    .space {
        height: 8px;
    }
}
@media only screen and (max-width: 1024px) {
    form {
        width: 65%;
    }
    .space {
        height: 10px;
    }
    input {
        font-size: var(--size-xs);
    }
}
@media only screen and (max-width: 929px) {
    h1 {
        font-size: var(--size-2xl);
    }
    h3 {
        font-size: var(--size-base);
    }
    form {
        width: 70%;
    }
}
@media only screen and (max-width: 767px) {
    .title {
        font-size: var(--size-base);
    }
    label {
        font-size: var(--size-xs);
    }
}

@media only screen and (max-width: 640px) {
    h1 {
        font-size: var(--size-xl);
    }
    h3 {
        font-size: var(--size-sm);
    }
    form {
        width: 80%;
    }
    .space {
        height: 12px;
    }
    input {
        font-size: var(--size-xxs);
    }
}

@media only screen and (max-width: 475px) {
}

/*--------------------------------------*/
/*debug*/
/*
.main
{
    border: 1px solid red;
}
.fixed-image
{
    border: 1px solid blue;
}

form
{
    border: 1px solid red;
}
h1
{
    border: 1px solid red;
}
h3
{
    border: 1px solid red;
}
.section
{
    border: 1px solid green;
}

.space
{
    border: 1px solid yellow;
}
label
{
    border: 1px solid pink;
}
input
{
    border: 1px solid red;
}
*/
