p {
  padding: 2%;
  text-align: justify;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

/* Stile per la galleria */
.gallery {
    padding: 2%;
    display: flex;
    height: 55vh;
    width: auto;
    gap: 1%;
}

.gallery img {
    width: 0px;
    flex-grow: 1; /* occupa tutto lo spazio che puoi */ 
    object-fit: cover;
    filter: brightness(50%);
    transition: .7s ease;
}

.gallery img:hover {
    cursor: crosshair;
    width: 30vw;
    opacity: 1;
    filter: brightness(100%);
    filter: contrast(120%);
}

/* resto della pagina */

.scatola {
    position: relative;
    width: 90%;
    height: fit-content;
    background-color: rgba(177, 173, 173, 0.1);
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* attivita */
.cont { 
  max-width: 1200px; 
  margin: auto; 
  position: relative; /* Aggiunto per il posizionamento assoluto del pseudo-elemento */
  margin-left: 0;
}
.cont::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px; /* Larghezza della linea */
  background: black; /* Colore della linea */
  z-index: -1; /* Assicura che la linea sia dietro i contenitori dei servizi */
}
.service {
  margin: 2%;
  padding: 1%;
  position: relative;
  overflow: hidden;
  border: none;
  transition: height 0.3s;
  height: 2em; /* Altezza iniziale pari all'altezza del titolo */
  /* border-left: 2px solid black;  Aggiunta della linea verticale nera */
  cursor: pointer;
}

.service h2 {
  color: #333;
  margin: 0;
  border-bottom: 2px solid red;
  display: inline-block;
  padding-bottom: 3px; /* Aggiunge un po' di spazio tra il testo e la linea */
}

.service p {
  color: #333;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1;
  margin: 0;
  padding: 10px;
}

/**/
.description-container { 
  flex-grow: 1;  
}
  
#description-box {
  position: absolute;
  right: 8%;
  top: 140%;
  transform: translateY(-50%);
  background-color: #add8e6; /* Colore azzurro */
  padding: 2%;
  width: 50%; 
  height: auto;
  border: 1px solid #888;
  display: none; /* Nascondi inizialmente il riquadro */
}