body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.grid {
    display: grid;
    grid-template: 'a a a' 'b b c' 'd d c';
    border-radius: 10px;
    gap: 10px;
    height: 100vh; /* Imposta l'altezza della griglia al 100% dell'altezza della finestra */
}
.user_profile {
    grid-area: a;
    background-color: white;
    border-radius: 10px;
    position: relative;
    height: 300px;
    padding: 2%;
    margin: 1%;
    border: 4px solid #308ece;
}
.calendar {
    grid-area: b;
    background-color: white;
    border-radius: 10px;
    border: 4px solid #308ece;
    position: relative;
    padding: 2%;
    margin: 2%;
}
.chat {
    grid-area: c;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #efefef;
    position: relative;
    padding: 2%;
    margin: 2%;
}
/* solo per i gold */
.programmi {
    grid-area: d;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #efefef;
    position: relative;
    padding: 2%;
    margin: 2%;
    border: 4px solid #308ece;
} 
h2 {
    color: #333;
}

/* CSS per la pianificazione settimanale */
.weekly-schedule {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.weekly-schedule h1 {
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 700;
}

.day-and-activity {
    display: grid;
    grid-template-columns: 15% 60% 25%;
    align-items: center;
    border-radius: 14px;
    margin-bottom: 5px;
    color: #484d53;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
}

.activity-one {
    background-color: rgb(124, 136, 224, 0.5);
    background-image: linear-gradient(240deg, rgb(124, 136, 224) 0%, #c3f4fc 100%);
}

.activity-two {
    background-color: #aee2a4a1;
    background-image: linear-gradient(240deg, #e5a243ab 0%, #f7f7aa 90%);
}

.activity-three {
    background-color: #ecfcc376;
    background-image: linear-gradient(240deg, #97e7d1 0%, #ecfcc3 100%);
}

.activity-four {
    background-color: #e6a7c3b5;
    background-image: linear-gradient(240deg, #fc8ebe 0%, #fce5c3 100%);
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-10px);
}

.day h1 {
    font-size: 1.6rem;
    font-weight: 600;
}

.day p {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    transform: translateY(-3px);
}

.activity {
    border-left: 3px solid #484d53;
}

.participants {
    display: flex;
    margin-left: 20px;
}

.participants img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    z-index: calc(2 * var(--i));
    margin-left: -10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
}

.activity > h2 {
    margin-left: 10px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 12px;
}

/* CSS per i corsi di allenamento */
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.course {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
}

/* CSS per il pulsante di cambio visualizzazione */
.switch-button {
    margin-top: 10px;
    text-align: center;
}

/*PROFILO*/
.profile-picture {
    padding: 2%;
    left: 0;
    position: absolute;
}

.profile-picture > label {
    margin-top: 200px;
    margin-right: 10px; /* Margine a destra per separare l'etichetta dall'input */
}

/* Stile per l'immagine del profilo */
.foto-utente {
    width: 140px; /* Dimensioni dell'immagine del profilo */
    height: auto;
}

/* Stile per le informazioni del profilo */
.profile-details {
    padding: 2%;
    right: 0;
    top: 0;
    position: absolute;
}

/* STILE PER LA CHAT */
.wrapper{
    background: #ffffff;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
  }
  
  /* Users List CSS Start */
  .users{
    padding: 30px;
  }
  .users header,
  .users-list a{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #e6e6e6;
    justify-content: space-between;
  }
  .wrapper img{
    object-fit: cover;
    border-radius: 50%;
  }
  .users header img{
    height: 70px;
    width: 70px;
  }
  :is(.users, .users-list) .content{
    display: flex;
    align-items: center;
  }
  :is(.users, .users-list) .content .details{
    color: #000;
    margin-left: 20px;
  }
  :is(.users, .users-list) .details span{
    font-size: 18px;
    font-weight: 500;
  }
  .users .search{
    margin: 20px 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    
    /* questo bordo dovrebbe sparire una volta che clicchi sulla lente di ingrandimento */
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding-left: 6px;
    padding-right: 4px;
  }
  .users .search .text{
    font-size: 18px;
  }
  .users .search input{
    position: absolute;
    height: 42px;
    width: calc(100% - 50px);
    font-size: 16px;
    padding: 0 13px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
  }
  .users .search input.show{
    opacity: 1;
    pointer-events: auto;
  }
  .users .search button{
    position: relative;
    z-index: 1;
    width: 47px;
    height: 42px;
    font-size: 17px;
    cursor: pointer;
    background: #ffffff;
    color: #000000;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    transition: all 0.2s ease;
    border-left: 1px solid #e6e6e6;
  }
  .users .search button.active{
    background: #ffffff;
    color: #000000;
  }
  .search button.active i::before{
    content: '\f00d'; /* unicode per l'icona x*/
  }
  .users-list{
    max-height: 350px;
    overflow-y: auto;
  }
  :is(.users-list, .chat-box)::-webkit-scrollbar{
    width: 0px;
  }
  .users-list a{
    padding-bottom: 10px;
    margin-bottom: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #e6e6e6;
  }
  .users-list a:last-child{
    margin-bottom: 0px;
    border-bottom: none;
  }
  .users-list a img{
    height: 50px;
    width: 50px;
  }
  .users-list a .details p{
    color: #67676a;
  }
  .users-list a .status-dot{
    font-size: 12px;
    color: #468669;
    padding-left: 10px;
  }
  .users-list a .status-dot.offline{
    color: #ccc;
  }

    /* Chat Area CSS Start */
.chat-area header{
  display: flex;
  align-items: center;
  padding: 18px 30px;
}
.chat-area header .back-icon{
  color: #333;
  font-size: 18px;
}
.chat-area header img{
  height: 45px;
  width: 45px;
  margin: 0 15px;
}
.chat-area header .details span{
  font-size: 17px;
  font-weight: 500;
}
.chat-box{
  position: relative;
  min-height: 500px;
  max-height: 500px;
  overflow-y: auto;
  padding: 10px 30px 20px 30px;
  background: #f7f7f7;
  box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
              inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}
.chat-box .text{
  position: absolute;
  top: 45%;
  left: 50%;
  width: calc(100% - 50px);
  text-align: center;
  transform: translate(-50%, -50%);
}
.chat-box .chat{
  margin: 15px 0;
}
.chat-box .chat p{
  word-wrap: break-word;
  padding: 8px 16px;
  box-shadow: 0 0 32px rgb(0 0 0 / 8%),
              0rem 16px 16px -16px rgb(0 0 0 / 10%);
}
.chat-box .outgoing{
  display: flex;
}
.chat-box .outgoing .details{
  margin-left: auto;
  max-width: calc(100% - 130px);
}
.outgoing .details p{
  background: #333;
  color: #fff;
  border-radius: 18px 18px 0 18px;
}
.chat-box .incoming{
  display: flex;
  align-items: flex-end;
}
.chat-box .incoming img{
  height: 35px;
  width: 35px;
}
.chat-box .incoming .details{
  margin-right: auto;
  margin-left: 10px;
  max-width: calc(100% - 130px);
}
.incoming .details p{
  background: #fff;
  color: #333;
  border-radius: 18px 18px 18px 0;
}
.typing-area{
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
}
.typing-area input{
  height: 45px;
  width: calc(100% - 58px);
  font-size: 16px;
  padding: 0 13px;
  border: 1px solid #e6e6e6;
  outline: none;
  border-radius: 5px 0 0 5px;
}
.typing-area button{
  color: #fff;
  width: 55px;
  border: none;
  outline: none;
  background: #333;
  font-size: 19px;
  cursor: pointer;
  opacity: 0.7;
  pointer-events: none;
  border-radius: 0 5px 5px 0;
  transition: all 0.3s ease;
}
.typing-area button.active{
  opacity: 1;
  pointer-events: auto;
}

/* weekly schedule*/
.activity-item {
  border: 1px solid gray;
  border-radius: 10px;
  margin: 2%;
  color: black;
}